


.carousel {
  margin-bottom: 4rem; /* Darle un espacio abajo de 4 rem */
}



.carousel-item {
  height: 32rem; /* Las slides de los carousel que tenga un alto de 32 rem */
}


/* Dar estilos a las imagenes de los slides */
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}



img{
  object-fit: cover;
}



/* Alinear al centro y darle un espacio abajo para la siguiente fila */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  
}


/* Darle un formato a los h2 */
.marketing h2 {
  font-weight: 400; 
  font-weight: bolder;
  color: #8ebac1;
  font-size: 35px;
  
}


h3{
  color: #487E8F;
  text-align: center;
  font-size: 55px;
  font-weight: bolder;
  height: 9rem;
}



.lead{
  font-size: 22px;
  text-align: justify;
}

.leader{
  font-size: 22px;
  text-align: justify;
  margin-left: 65px;
  margin-right: 65px;
}




/* Darle un espacio al hr para que todo no se vea junto */
.divider {
  margin: 5rem 0;
  
}



/* Para darle un pequeño zoom en el caso de que la imagen no sea de las dimensiones del carousel */
.imgCarousel{
  object-fit: cover;
}


.faq-card{
  margin-left: 1%; /* Darle un espaciaado a la izquierda a todas las preugntas */
  margin-bottom: 30px; /* Darle un espaciado para abajo, para que las filas se distingan */
  display: inline-block; /* Para que las preguntas se ordenen en filas, y no en columnas */
  vertical-align:text-top; /* Para que todo se alinee arriba (no se por que al poner el inline block, se ordenan abajo, como que "si tuvieran gravedad XD", por eso esta regla) */
}

.img-card-store{
  margin-top: 10px ;
  border-radius: 7px;
  object-fit: cover;
}

.card{
  margin-bottom: 5rem;
  width: 18rem;
}


.form-login, .form-register{
  margin-bottom: 15%;
  margin-top: 15%;
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
}

.social-btn {
  background-color: #8ebac1;
  border-color: #8ebac1;
  color: #8ebac1;
}
.social-btn:hover{
  background-color: #487E8F;
  border-color: #487E8F;
}